#!/bin/bash
#
# Replace nameserver added by Origin configuration which will choose the eth0 IP which
# is in fact being handled by Landrush and not by dnsmasq so any cluster.local service
# fails to resolve which breaks basically everything.
#
# We'll use 127.0.0.1 so resolution is handled by dnsmasq. This means it should resolve
# SkyDNS entries (e.g. OpenShift services), external FQDNs, etc. 
#
/bin/sed -i -e 's/^nameserver.*/nameserver 127.0.0.1/g' /etc/resolv.conf
